.intro {
    margin-left: 18%;
    width: 82%;
}


.intro-1 {
    font-size: 10px;
    color: #193e4b;
}

.intro-2 {
    margin-top: 10px;
    font-size: 100px;
    color: #193e4b;
    overflow-wrap: break-word;
}

.intro-3 {
    margin-top: 10px;
    font-size: 40px;
    color: #193e4b;
    overflow-wrap: break-word;
}

.intro-4 {
    margin-top: 10px;
    font-size: 15px;
    color: #193e4b;
    width: 400px;
    overflow-wrap: break-word;
}

.name {
    margin-left: 100px;
    margin-top: 20%;
}
