body, html {
  font-family: "Ubuntu", sans-serif;
  background-color:#0a192f;

}

/* body {
  font-family: "Ubuntu", sans-serif;
  animation: slide 30s linear infinite alternate;
  background-image: url("https://cdn.spacetelescope.org/archives/images/screen/heic1909a.jpg");
  background-repeat: repeat;
 background-size: cover;
}

@keyframes slide {
  to {
    background-position: 0 50%;
  }
} */